body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#terminal {
  padding: 20px;
  background-color: #FFFFFF;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

#input-box {
  width: 100%;
  display: flex;
  /*padding: 5px;*/
  background-color: #FFFFFF;
  border-top: 1px solid #CCC;
}

#commandInput {
  flex: 1;
  padding: 17px;
  border: none;
}

#submitButton {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: transparent;
  border: none;
}

#submitButton.inactive {
  background-color: white;
  color: lightgray;
}

#submitButton.active {
  background-color: lightcoral;
  color: white;
}

.command-button {
  background-color: #AEDFF7;
  color: #333;
  border: 1px solid #AEDFF7;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s, border-color 0.2s;
}

.command-button:hover {
  background-color: #8CCBD4;
  border-color: #8CCBD4;
}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  #submitButton {
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
  }

  body, #terminal, #commandInput {
    font-size: 24px;  /* Increase as needed */
  }
}

